* {
	box-sizing: border-box;
}


.container h1 {
	text-align: center;
	margin-bottom: 30px;
}

.container a {
	text-decoration: none;
	color: lightblue;
}

.btn {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	background: lightblue;
	padding: 15px;
	font-family: inherit;
	font-size: 16px;
	border: 0;
	border-radius: 5px;
}

.btn:focus {
	outline: 0;
}

.btn:active {
	transform: scale(0.98);
}

.text {
	margin-top: 30px;
}

.form-control {
	position: relative;
	margin: 20px 0 40px;
	width: 300px;
}
.container {
	padding: 50px;
	border: solid 1px;
	width: 100vw;
	height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
}