/* styles.css */

/* Reset de estilos para evitar inconsistencias entre navegadores */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Estilos generales para el cuerpo del documento */
body {
	font-family: Arial, sans-serif;
	background-color: #f8f8f8;
	color: #333;
}

/* Estilos para el botón */
button {
	background-color: #0074d9;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #0056b3;
}

/* Estilos para el enlace dentro del botón */
button a {
	text-decoration: none;
	color: #fff;
}

/* Estilos para la sección */
section {
	margin: 20px;
}

/* Estilos para el enlace dentro del botón */
a {
	text-decoration: none;
	color: #0074d9;
	transition: color 0.3s ease;
}

a:hover {
	color: #0056b3;
}

/* centrar contenido */

.container {
	padding: 50px;
	border: solid 1px;
	width: 100vw;
	height: 100vh;
	text-align: center;
}

.container-field {
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* border: solid 1px red; */
}
